.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar :hover {
    cursor: pointer;
}

.definition {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 100;
    text-align: left;
    transition: transform 0.5s ease-in-out;
}

.definition.hidden-up {
    transform: translate(-50%, -1000%);
}

.name {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: bold;
}

.description {
    margin-top: 0;
    font-size: 1rem;
}
.slide-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}

.top-part,
.bottom-part {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.top-part {
    top: 0;
    transform: translateY(0);
}

.bottom-part {
    top: 0;
    transform: translateY(100%);
}

.slide.vertical-down .top-part {
    transform: translateY(-100%);
}

.slide.vertical-down .bottom-part {
    transform: translateY(0);
}

.bottom-img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    visibility: visible;
}

.slide img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    visibility: visible; 
}
.slide-info {
    position: absolute;
    width: 40%;
    text-align: left;
}

  